.footer
	.container
		.foot-nav
			ul.inline-layout.col-4
				li.nav-item
					h6 О компании
					ul
						li
							a(href="#") О нас
						li
							a(href="#") Отзывы
						li
							a(href="#") Карьера
						li
							a(href="#") Политика
						li
							a(href="#") конфинденциальности
					.btn-holder
						a(href="#").button Заказать звонок
				li.nav-item
					h6 Покупателям
					ul
						li
							a(href="#") Оплата и доставка по Украине
						li
							a(href="#") Адреса магазинов
						li
							a(href="#") Гарантии
						li
							a(href="#") Акции
						li
							a(href="#") Подписаться на новости
				li.nav-item
					h6 Идеи
					ul
						li
							a(href="#") Блог
						li
							a(href="#") Коллекции и интерьеры
						li
							a(href="#") Для дома и интерьера
						li
							a(href="#") Мебель
						li
							a(href="#") Мелочи и подарки
						li
							a(href="#") Кухня и еда
						li
							a(href="#") Текстиль
				li.nav-item
					h6 Партнерство
					ul
						li
							a(href="#") Для отелей и ресторанов
						li
							a(href="#") Для дизайнеров
						li
							a(href="#") Франшиза
					.btn-holder
						a(href="#").button открыть магазин
		.bott-holder
			.inline-layout.col-4
				.logo-holder
					a(href="#")
						.image-holder
							img(src="img/icons/logo.svg", alt="")
							span
								|ДОМАШНИЙ УЮТ
								br
								| И СЕМЕЙНЫЕ ЦЕННОСТИ
				.image-holder.big-img
					a(href="#")
						img(src="img/content/col-2.jpg", alt="")
				.image-holder.big-img
					a(href="#")
						img(src="img/content/col-3.jpg", alt="")
				.contact-info
					ul.phones-list
						li
							span.black +38 /044/
							span 383 57 57
						li
							span.black +38 /044/
							span 383 57 57
						li
							span.black +38 /044/
							span 383 57 57
						li
							span.black Пн-Пт:
							span c 10:00 до 19:00
					ul.socials-list.list-inline
						li
							a(href="#")
						li
							a(href="#")
						li
							a(href="#")
						li
							a(href="#")
						li.graf
							a(href="#")
	.container
		.rights
			span (C)2015-2017, Family Decor. Все права защищены. Декор. подарки. Мебель. Доставка по Украине. Киев. Одесса. Львов.
