section.modals
	.mobile-modal
		a(href="#").modal-close
		.call-icon
			img(src="img/icons/call-modal.svg", alt="")
		.text-holder
			p
				|введите ваш номер телефона и наши менеджеры свяжутся с вами в ближайшее время
			form.js-reg-field
				input.js-valid-phone(name="field", placeholder="+38 /ххх/ ххх хх хх")
				.btns
					button.button перезвоните мне

	.order-modal.thnks-modal
		a(href="#").modal-close
		.text-holder
			h3 СПАСИБО ЗА ЗАКАЗ!
			.btns
				button.button ЗАКРЫТЬ