.top-line
	.container
		.navigation
			.logo
				a(href="#")
					.image-holder
						img(src="img/icons/logo.svg", alt="")
				span
					|ДОМАШНИЙ УЮТ
					br
					| И СЕМЕЙНЫЕ ЦЕННОСТИ
			.inline-layout
				.phone-numbers
					ul.phones-list
						li
							span.black +38 /044/
							span 383 57 57
						li
							span.black +38 /044/
							span 383 57 57
						li
							span.black +38 /044/
							span 383 57 57
				a(href="#").button.call  Заказать звонок
				a(href="#").login Вход
				a(href="#").button Открыть магазин
			a(href="#").mobile-nav-btn#mobile-nav-btn
				span
				span
				span
			ul.list-inline.nav-list
				li
					a(href="#") Каталог
				li
					a(href="#")  О нас
				li
					a(href="#") Акции
				li
					a(href="#") Франшиза
				li
					a(href="#") Наши магазины 
				li
					a(href="#") Оплата и доставка
				li
					a(href="#") Блог
			ul.list-inline.nav-list.mobile#mobile-list
				li
					a(href="#") Каталог
				li
					a(href="#")  О нас
				li
					a(href="#") Акции
				li
					a(href="#") Франшиза
				li
					a(href="#") Наши магазины 
				li
					a(href="#") Оплата и доставка
				li
					a(href="#") Блог
