script(src='external/jquery/dist/jquery.min.js')
script(src='external/countdown/js/countdown.js')
script(src='external/wow/dist/wow.min.js')
script(src='external/jquery-animateNumber/jquery.animateNumber.min.js')
script(src='js/main.js')
